#DJANGO AND SMTP CONFIG/KEYS
BASE_URL = 'http://localhost:8000'

BASE_URL_PROD = ""
BASE_URL_UNI = ""

SECRET_KEY = 'secure key'
DEBUG = 1
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = '587'
EMAIL_USE_TLS = True
EMAIL_USE_SSL=False
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
ADMINS=[('name','email@gmail.com')]



#DATABASE KEYS
DATABASE_PASSWD = ''
DATABASE_USER = ''
DATABASE_NAME = ''
DATABASE_PORT = '3306'
DATABASE_HOST = 'localhost'

RUN_CODE="gunicorn -c gunicorn.conf.py Core.wsgi:application"

# True LIVE key.
STRIPE_LIVE_PUB_KEY = ""
STRIPE_LIVE_SEC_KEY = ""

# [STRIPE TEST KEY FOR DEVELOPEMENT] - ACCOUNT -> LUCAS.LU*******@GMAIL.COM

STRIPE_TEST_PUB_KEY = ""
STRIPE_TEST_SEC_KEY = ""

#Github keys
CLIENT_ID_GITHUB=""
CLIENT_SECRET_GITHUB=""

oauth_git_Cid=""
oauth_git_Sec=""


#google keys
GOOGLE_ID=''
GOOGLE_SEC=''
