<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
  <h1>Welcome to Your Profile {{ instance.username }} {{ instance.email }} </h1>

    {% if perms.auth or is_me %}
        {% if perms.auth.view_user or is_me %}
            <div class="p-4 sm:ml-64">
                <div class="p-4 border-2 border-stone-200 border-dashed rounded-lg dark:border-stone-700 mt-14">
                    <div class="text-black"> 
                        {{ instance.first_name }} - {{ instance.last_name}}
                        {{ instance.last_login }}
                        {{ is_me }}
                    </div>
                </div>
            </div>  
        {% endif %}
    {% else %}
    <h1>
        youre not allowed 
    </h1>
    {% endif %}
    </body>
</html>
