<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    {% if is_me %}
    <h1>Welcome to Your Profile {{ user }} #{{ user.id}}</h1>
    {% else %}
    <h1>Welcome to {{ instance.username }}'s Profile, {{ user }}</h1>
    {% endif %}

    <h2> {{ instance.username }} </h2>
    <h2> {{ instance.email }} - {{ instance.last_login }}</h2>
    <h2> {{ instance. }}</h2>

    

    </body>
</html>
