{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Saas{% endblock title %}</title>
    <link href="{% static 'Css/style.css' %}" rel="stylesheet">
    
    {% block links %}
    {% endblock links %}

  </head>
  <body>
    {% include 'Components/messages.html' %}
    {% include 'Components/navbar.html'%}

    {% block top %}
    {% endblock top %}

    {% block content %}
    {% endblock content %}

    {% block lower %}
    {% endblock lower %}

    {% include 'Components/footer.html' %}
    {% include 'Components/loader.html' %}   
    {% include 'Components/scripts.html' %}
  </body>
</html>
