{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Saas{% endblock title %}</title>
    {% include 'Components/links.html' %}
  </head>
  <body class="bg-white border-gray-200 dark:bg-gray-950">
    {% include 'Components/messages.html' %}


    {% block top %}
    {% endblock top %}

    <div class="p-4 sm:ml-64">
    {% block content %}
    {% endblock content %}
    </div>
    {% block lower %}
    {% endblock lower %}

    {% include 'Components/footer.html' %}
    {% include 'Components/loader.html' %}
       
    {% include 'Components/scripts.html' %}
  </body>
</html>
