{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Saas{% endblock title %}</title>
    {% include 'Components/links.html' %}
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body class="bg-white border-gray-200 dark:bg-gray-900">


    {% block top %}
    {% endblock top %}

    <div class="p-4 sm:ml-64">
    {% include 'Components/messages.html' %}

    {% block content %}
    {% endblock content %}
    {% block lower_block %}

    {% include 'Components/loader.html' %}
    {% include 'Components/scripts.html' %}
    
    {% include 'Components/footer.html' %}
    {% endblock lower_block %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.js"></script>
        <script>
        
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

  </body>
</html>
