{% extends 'base.html' %}


{% block title %}Your Subscription - {{ block.super }}{% endblock title %}


{% block content %}
<h1 class="text-lg font-medium text-white">Your Subscription</h1>
<form action="" method="POST">{% csrf_token %}
    <button type="submit" >Refresh</button>
</form>

<a class="text-white" href="{{ subscription.get_cancel_url }}">Cancel Membership</a>

<p class="text-white">Plan name: {{ subscription.plan_name }}</p>

<p class="text-white">Status: {{ subscription.status|title }}</p>

<p class="text-white">Membership age: {{ subscription.original_period_start|timesince }} </p>
<p class="text-white">Start: {{ subscription.current_period_start }}</p>

<p class="text-white">End: {{ subscription.current_period_end|timeuntil }} ({{ subscription.current_period_end }})</p>

{% endblock content %}