{% extends 'base.html' %}


{% block title %}Your Subscription - {{ block.super }}{% endblock title %}

{% block top %}

{% include 'Components/navbar.html' %}

{% endblock top%}

{% block content %}

<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">

{% if subscription.is_active_status  %}
<h1 class="text-white text-lg font-medium">Are you sure you want to cancel {{ subscription.plan_name }}?</h1>


<form action="" method="POST">{% csrf_token %}
    <button class="text-white" type="submit" >Yes, cancel</button>
</form>
<a class="text-white " href="{{ subscription.get_absolute_url}}">No, go back</a>

{% else %}

<h1 class="text-white text-lg font-medium">Your membership is not longer active</h1>
{% endif %}
</div>
{% endblock content %}