{% extends 'base.html'%}
{% load static %}
{% block title %} Profiles - {{ block.super }}  {% endblock title%}
{% block links %} {{ block.super }} {% endblock links %}

{% block top %}
  {% if request.user.is_authenticated %}
    <div class="">
      {% include 'Components/navbar.html' %}
    </div>
    {% include 'Components/sidebar.html' %}  
  {% else %}
    {% include 'Components/navbar.html' %}  
  {% endif %}

{% endblock top %}


{% block content %}
<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 border-stone-200 border-dashed rounded-lg dark:border-stone-700 mt-14">
    {% if perms.auth %}
      {% if perms.auth.view_user %}
        {% for instance in object_list %}
          <li class="text-white"><a href="/auth/userView/{{ instance.username }}">{{ instance.username }}</a></li>
          {% endfor%}
      {% else %}
      <h1 class="text-white"> You're not allowed to see it !</h1>

      {% endif %}
    {% endif %}
      </div>
</div>
{% endblock content %}
